* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.menu span {
  color: white;
  transform: rotate(calc(-360deg / 8 * var(--i)));
  display: inline-block;
  transition:  0.5s;
}
.menu li a:hover span {

  text-shadow:
  0 0 0.2px #fff,
  0 0 0.2rem #fff,
  0 0 2.5rem #d400ff,
  0 0 5rem #d400ff,
  0 0 5.5rem #d400ff,
  0 0 6rem #d400ff;
  transition:  0.3s;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #8460ed, #ff1252);
}

.menu {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  transform: scale(2);
}

.menu li,
.corner {
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 100px;
  transform: rotate(calc(360deg / 8 * var(--i)));
  clip-path: polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
}

.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 80px;
  background-color: black;
  opacity: 0.6;
  transition: 0.3s;

  filter: drop-shadow(0 0 8px red);
  text-shadow: 0 0 0 1rem #ff1252;
}


.menu li a:hover,
.toggle:hover {
  opacity: 1;
}


.toggle {
  position: absolute;
  width: 60px;
  height: 60px;
  background: black;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2em;
  transition: 0.5s;
}
/*Rounding element for middle menu button. Probably is needed in changing approach for 'background' since we'll have random backgrounds we can't predict!!!*/
.toggle-hidden {
  content: '';
  display: block;
  width: 64px; /*Keep this value even due to a random rounding*/
  height: 64px; /*Keep this value even due to a random rounding*/
  z-index: 10000;
  overflow: hidden;
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  background: linear-gradient(45deg, #8460ed, #ff1252);  /*For better compability with background we need to tweak this value*/
  background-size: 200% 200%; 
  background-position: calc(50% - 60px/2) calc(50% - 65px/2);
  /*For better compability with background we need to tweak this value*/
}
