body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, red, purple);
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, red, purple);
}

.radial_container {
  width: 400px;
  height: 400px;
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  
  z-index: 99999;
  background-color: #000;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid grey;
}
.radial_menu {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
/*   margin: 30px auto; */

  /* padding trick for maintaining aspect ratio */
  height: 0;
  padding: 0;
  padding-top: 99.9%;
  width: 99.9%;
  
/*   background: green; */
}

.radial_menu li { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  clip-path: url(#sector);
  opacity: 1;
}
.radial_menu li:nth-child(odd) {
  background-color: #050505;
}
.radial_menu li a {
  display: block;
  width: 100%;
  height: 100%;
}

.radial_menu li:hover  {
  transition: .2s;
  background-color: #302f2fe9;
  opacity: 1;
}



.material-symbols-outlined {
  position: absolute;
  /* exact values here depend on what you are placing inside the items (icon, image, text, etc.) */
  left: 77% !important;
  top: 34% !important;
  color: white !important;
  font-size: 45px !important;
}



.radial_menu_description {
  z-index: 99999;
  position: absolute;
  top: 150px;
  bottom: 150px;
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  border: 1px solid grey;

  display: flex;
  justify-content: center;
  align-items: center;
}
/*TEST
CHANGES*/